<div class="row">
  <div [class]="'col-xs-' + camerasCols" *ngFor="let camera of cameras">
    <iframe [src]="camera.url" width="100%" [height]="cameraHeight" frameborder="0"></iframe>
  </div>
</div>
