.camera-image {
  width: 100%;
}

.flex-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;

  .flex-item {
    overflow: hidden;
    display: block;
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}

.camera-options-container {
  margin-top: 5px;
  margin-bottom: 10px;

  .camera-rooms {
    background-color: #4677be;
    width: 100px;
    position: relative;

    select {
      width: 100%;
      appearance: none;
      background-color: transparent;
      font-size: 14px;
      color: white;
      border: 0;
      padding: 10px;
      outline: 0;
    }

    &:hover,
    select:hover {
      cursor: pointer;
    }
  }

  .camera-options {
    display: flex;
    align-items: center;

    .camera-option {
      display: inline-block;
      margin-right: 10px;
      color: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .flex-container {
    display: block;
  }
}
