<div [formGroup]="widgetOptionsForm">
  <div class="list-inputs-container" [formArrayName]="widgetOption.key">
    <div class="list-input" *ngFor="let option of widgetOptionsForm.get(widgetOption.key).value; index as i">
      <input [formControlName]="i" class="input" />
      <button type="button" class="btn" (click)="remove(widgetOption, i)">-</button>
    </div>
  </div>
  <button type="button" class="btn" (click)="add(widgetOption)">Add</button>
</div>
