.map-container {
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;

  width: 100%;
  .map {
    width: 100%;
    height: 100%;
  }

  .cameras {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;

    .camera {
      background-image: url('assets/cctv.png');
      background-size: 100%;
      width: 7%;
      height: 7%;
      display: inline-block;
      position: absolute;

      &.active {
        animation: blink-animation ease-in-out alternate;
        animation-duration: 350ms;
        animation-iteration-count: 6;
      }

      &.A1 {
        left: 7%;
        top: 7%;
      }
      &.A7 {
        left: 42%;
        top: 15%;
      }
      &.A8 {
        left: 37%;
        top: 6%;
      }
      &.B2 {
        left: 41%;
        top: 35%;
      }
      &.F1 {
        left: 4%;
        top: 50%;
      }
      &.D1 {
        left: 23%;
        top: 50%;
      }
    }
  }
}

@keyframes blink-animation {
  to {
    background-image: url('assets/cctv-red.png');
  }
}
