<ng-container *loading="!cameras.length">
  <ng-container *ngIf="options">
    <div #mapContainer style="width: 100%;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
      <ng-container *ngFor="let layer of markerLayers" [leafletLayer]="layer"></ng-container>
    </div>
  </ng-container>
</ng-container>
