<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <form-input title="API URL">
    <input class="input" formControlName="ApiUrl" />
  </form-input>
  <form-input title="NEC Dashboard URL">
    <input class="input" formControlName="NecUrl" />
  </form-input>

  <div class="actions">
    <button type="submit" class="btn" [innerHtml]="saveStatus">Save</button>
  </div>
</form>
