<div *loading="loading">
  <table *ngIf="data && data.length" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{ col }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns" [class.number]="isNumber(row[col])">
          {{ row[col] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
