@import 'styles/colors.scss';

table {
  width: 100%;

  th,
  td {
    border: 1px solid $color-primary-lighter;
    padding: 5px;
    text-align: center;
    &.number {
      text-align: right;
    }
  }
}
