<div *loading="loading">
  <div class="row" *ngIf="user">
    <div class="col-xs-6">
      <img [src]="getCapturedImage(user)" class="user-captured-image" onerror="this.src='assets/person.png'" />
    </div>
    <div class="col-xs-6 user-info-container">
      <h3>
        <a [routerLink]="['.']" [queryParams]="{ action: 'visitor', visitor: user.SubjectId }" class="hover-underline">
          {{ user.Title }} {{ user.FirstName }} {{ user.LastName }}
        </a>
      </h3>
      <div class="user-info">
        <p><strong>Watchlist:</strong> {{ user.WatchlistName }}</p>
        <p><strong>Captured On:</strong> {{ user.CaptureTime | date: 'short' }}</p>
        <p><strong>Camera:</strong> {{ user.CameraName }}</p>

        <img [src]="getImage(user)" class="user-image" />
      </div>
    </div>
  </div>
</div>
