@import 'styles/colors.scss';

.loader {
  text-align: center;
  margin-top: 20px;
  min-height: 40px;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 20px;

  &:nth-child(1) {
    background: #27ae60;
  }

  &:nth-child(2) {
    animation-delay: 180ms;
    background: #f1c40f;
  }

  &:nth-child(3) {
    animation-delay: 360ms;
    background: #e67e22;
  }

  &:nth-child(4) {
    animation-delay: 540ms;
    background: #2980b9;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
