<header>
  <div class="wrap-container">
    <div class="header-container">
      <div class="header-menu-items">
        <a routerLink="/" class="logo" appConfig="AppName"></a>
      </div>
      <div class="header-menu-items">
        <ng-container *ngFor="let menuItem of dashboardMenuItems">
          <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menuItem: menuItem }"></ng-container>
        </ng-container>
      </div>
      <div class="header-menu-items end">
        <ng-container *ngFor="let menuItem of dashboardContextMenuItems">
          <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menuItem: menuItem }"></ng-container>
        </ng-container>
        <ng-container *ngFor="let menuItem of headerMenuItems">
          <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menuItem: menuItem }"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</header>

<ng-template #menuItemTemplate let-menuItem="menuItem">
  <ng-container *ngIf="menuItem.enabled">
    <!-- Link -->
    <a
      *ngIf="menuItem.type == 'link'"
      [class.active]="router.url === menuItem.link"
      [routerLink]="menuItem.link"
      [queryParams]="menuItem.queryParams"
      class="menu-item"
      [title]="menuItem.title"
    >
      <ng-container *ngTemplateOutlet="menuItemContent; context: { menuItem: menuItem }"></ng-container>
    </a>

    <!-- Function -->
    <a
      *ngIf="menuItem.type === 'function'"
      class="menu-item hover-pointer"
      (click)="menuItem.method()"
      [title]="menuItem.title"
      [class.active]="menuItem.active ? menuItem.active() : null"
    >
      <ng-container *ngTemplateOutlet="menuItemContent; context: { menuItem: menuItem }"></ng-container>
    </a>
    <ng-template #menuItemContent let-menuItem="menuItem">
      <span *ngIf="!menuItem.icon">{{ menuItem.title }}</span>
      <fa-icon *ngIf="menuItem.icon" [icon]="menuItem.icon"></fa-icon>
    </ng-template>
  </ng-container>
</ng-template>
