@import 'styles/colors.scss';

header {
  background-color: $color-primary-light;

  .header-container {
    padding: 0 20px;
    color: #fff;
    height: 40px;

    display: flex;

    .logo {
      font-weight: bold;
      padding-right: 10px;
    }

    .header-menu-items {
      display: flex;
      flex: 0 1 auto;
      align-items: stretch;

      &.end {
        justify-content: flex-end;
        flex: 1 1 auto;
      }

      a {
        color: white;
        margin-left: 10px;
        font-size: 12px;

        display: flex;
        align-items: center;

        &.menu-item {
          padding: 0 10px;

          &.active,
          &:hover {
            background-color: $color-primary-dark;
          }
        }
      }
    }
  }
}
