// Prefix with 'color-'

$color-primary-dark: #141c33;
$color-primary-light: #252b43;
$color-primary-lighter: #424c75;

$color-page-background: $color-primary-dark;
$color-widget-primary: $color-primary-light;
$color-widget-secondary: $color-primary-lighter;

$alert-high: red;
$alert-medium: yellow;
$alert-low: grey;
