@import 'styles/colors.scss';

.dialog-background {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dialog-content-container {
  width: 50%;
  max-height: 80%;
  max-width: 800px;
  background: $color-primary-light;
  border: 1px solid $color-primary-lighter;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.8);
  padding: 20px;
}
