input {
  outline: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-input {
  .input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    appearance: none;
    border-radius: 2px;
  }
}

.select {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  border-radius: 2px;
  select {
    font-weight: 200;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    appearance: none;
    width: 100%;
    height: 100%;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
  }
}
