.widget-container {
  padding: 10px;
  background-color: $color-widget-primary;

  .widget-title {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
  }
}
