@import 'styles/colors.scss';

::ng-deep body,
html {
  overflow: auto;
}

.widget-container {
  margin-bottom: 20px;
  box-sizing: border-box;
}
.widget-title {
  padding-bottom: 10px;
  border-bottom: 1px solid $color-page-background;
  margin-bottom: 20px;
}

.form-input {
  margin-bottom: 20px;
}

.btn {
  margin-right: 20px;
}

small {
  margin-top: -3px;
  display: block;
}
