<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <!-- Col 1 -->
  <div class="row">
    <section class="col-md-6 col-xs-12">
      <div class="widget-container">
        <h1 class="widget-title">Settings</h1>
        <form-input title="API URL">
          <input class="input" formControlName="ApiUrl" />
        </form-input>
        <form-input title="NEC Dashboard URL">
          <input class="input" formControlName="NecUrl" />
        </form-input>
        <form-input title="Locked">
          <div class="select">
            <select formControlName="Locked" class="input">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
        </form-input>
        <form-input title="Update refresh time" subtitle="(in ms)">
          <input class="input" formControlName="RealTimeInterval" />
        </form-input>
      </div>
    </section>

    <section class="col-md-6 col-xs-12">
      <div class="widget-container">
        <h1 class="widget-title">Visitor Popup</h1>
        <form-input title="Watchlist Name">
          <div class="select">
            <select formControlName="VisitorDialogWatchlist" class="input">
              <option value=""></option>
              <option *ngFor="let watchlist of watchlists" [value]="watchlist.WatchListID">{{ watchlist.Name }}</option>
            </select>
          </div>
        </form-input>
      </div>

      <div class="widget-container">
        <h1 class="widget-title">Dashboards</h1>
        <setting-dashboard></setting-dashboard>
      </div>
    </section>
  </div>

  <div class="widget-container">
    <button type="submit" class="btn" [innerHtml]="saveStatus">Save</button>
    <button type="button" class="btn" (click)="reset()">Reset</button>
  </div>
</form>

<ng-template #dashboardItems> </ng-template>
