<form [formGroup]="widgetOptionsForm" (ngSubmit)="onSubmit()">
  <div class="form-content-container text-left">
    <ng-container *ngFor="let widgetOption of widgetOptions | keyvalue: keepOriginalOrder">
      <ng-container [ngSwitch]="widgetOption.value.type">
        <!-- Boolean -->
        <ng-container *ngSwitchCase="'boolean'">
          <form-input [title]="widgetOption.value.title" [subtitle]="widgetOption.value.subtitle">
            <div class="select">
              <select [formControlName]="widgetOption.key" class="input">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </form-input>
        </ng-container>

        <!-- Database views box -->
        <ng-container *ngSwitchCase="'db-views'">
          <form-input [title]="widgetOption.value.title" [subtitle]="widgetOption.value.subtitle">
            <div class="select">
              <select [formControlName]="widgetOption.key" class="input">
                <option
                  *ngFor="let selectOption of databaseViews"
                  [value]="selectOption"
                  [attr.selected]="widgetOptionsForm.get(widgetOption.key).value === selectOption ? 'selected' : null"
                >
                  {{ selectOption }}
                </option>
              </select>
            </div>
          </form-input>
        </ng-container>

        <!-- Select dropdown box -->
        <ng-container *ngSwitchCase="'select'">
          <form-input [title]="widgetOption.value.title" [subtitle]="widgetOption.value.subtitle">
            <div class="select">
              <select [formControlName]="widgetOption.key" class="input">
                <option
                  *ngFor="let selectOption of widgetOption.value.options"
                  [value]="selectOption.value"
                  [attr.selected]="widgetOptionsForm.get(widgetOption.key).value === selectOption.value ? 'selected' : null"
                >
                  {{ selectOption.title }}
                </option>
              </select>
            </div>
          </form-input>
        </ng-container>

        <!-- Dynamic multiple input box -->
        <ng-container *ngSwitchCase="'list-input'">
          <form-input [title]="widgetOption.value.title" [subtitle]="widgetOption.value.subtitle">
            <widget-option-input-list [widgetOptionsForm]="widgetOptionsForm" [widgetOption]="widgetOption"></widget-option-input-list>
          </form-input>
        </ng-container>

        <!-- Maps -->
        <ng-container *ngSwitchCase="'maps'">
          <widget-option-maps [widgetOptionsForm]="widgetOptionsForm" [widgetOption]="widgetOption"></widget-option-maps>
        </ng-container>

        <!-- Default text/number etc -->
        <ng-container *ngSwitchDefault>
          <form-input [title]="widgetOption.value.title" [subtitle]="widgetOption.value.subtitle">
            <input [type]="widgetOption.value.type" [formControlName]="widgetOption.key" class="input" />
          </form-input>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="actions">
    <button type="submit" class="btn">Save</button>
    <button type="button" class="btn" (click)="reset()">Reset</button>
  </div>
</form>
