@import 'styles/colors.scss';

.form-content-container {
  width: 500px;
}

:host::ng-deep .form-input {
  margin-bottom: 20px;
}

.actions {
  border-top: 1px solid $color-primary-lighter;
  padding-top: 15px;

  .btn {
    margin-right: 20px;
  }
}

small {
  margin-top: -3px;
  display: block;
}
