<div class="form-input row">
  <div class="form-label col-xs-5">
    {{ title }}: <small *ngIf="subtitle">{{ subtitle }}</small>
  </div>
  <div class="form-content col-xs-7">
    <ng-content></ng-content>
  </div>
</div>
