<div *loading="loading"></div>
<gridster *ngIf="!loading" [options]="options">
  <gridster-item [item]="item" *ngFor="let item of storeService.dashboardItems[dashboardName]">
    <dash-widget-container (onWidgetActionClick)="onWidgetActionClick($event, item)">
      <div title>{{ item.options.widgetTitle.value }}</div>
      <div content>
        <div [attr.data-widgetid]="item.widgetId" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
          <ng-container *ngComponentOutlet="item.component; injector: storeService.widgetInjectors[item.widgetId]"></ng-container>
        </div>
      </div>
    </dash-widget-container>
  </gridster-item>
</gridster>
