@import 'styles/colors.scss';

.dialog-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dialog-content-container {
  // width: 50%;
  max-height: 80%;
  max-width: 90%;
  background: $color-widget-primary;
  border: 1px solid $color-widget-secondary;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: relative;

  .dialog-title {
    padding: 0;
    margin: 0;
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;

    &.title-border {
      border-bottom: 1px solid $color-primary-lighter;
      margin-bottom: 15px;
    }
  }

  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    appearance: none;
    background-color: $color-primary-lighter;
    border: 0;
    color: white;
    outline: 0;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-dark;
    }
  }
}
