<div class="dialog-overlay" (click)="onOverlayClicked($event)">
  <div class="dialog-content-container text-center" (click)="onContentClicked($event)">
    <button class="btn-close" (click)="onCloseClicked($event)">x</button>
    <h1 class="dialog-title" *ngIf="dialogTitle" [class.title-border]="hasTitleBorder">
      {{ dialogTitle }}
    </h1>
    <ng-template appInsertion> </ng-template>
  </div>
</div>
