@import 'styles/colors.scss';

.form-content-container {
  width: 400px;
}

.btn {
  margin-right: 20px;
}

.actions {
  border-top: 1px solid $color-primary-lighter;
  padding-top: 15px;
}

.form-errors {
  margin-bottom: 10px;
  font-size: 14px;
  color: #eb3636;
}

:host ::ng-deep .create-loading {
  display: inline-block;

  .loader {
    zoom: 0.5;
    margin: 2px 0 0 10px;
  }
}
