<form [formGroup]="addWidgetForm" (ngSubmit)="onSubmit()">
  <div class="form-content-container text-left">
    <!-- Dashboard -->
    <form-input title="Dashboard">
      <div class="select">
        <select formControlName="dashboard" class="input" required>
          <option disabled value>Please select</option>
          <option *ngFor="let dashboard of dashboards" [value]="dashboard.id" [selected]="currentDashboard === dashboard.name">{{ dashboard.name }}</option>
        </select>
      </div>
    </form-input>

    <!-- Widget Type -->
    <form-input title="Widget Type">
      <div class="select">
        <select formControlName="widgetType" class="input" required>
          <option disabled value>Please select</option>
          <option *ngFor="let widget of widgetTypes | keyvalue" [value]="widget.key">{{ widget.value }}</option>
        </select>
      </div>
    </form-input>

    <!-- Title -->
    <form-input title="Widget Title">
      <input formControlName="widgetTitle" type="text" class="input" />
    </form-input>
  </div>
  <div class="actions">
    <div *ngIf="submitted && addWidgetForm.invalid" class="row form-errors">
      <div class="col-xs-12">
        Please enter all the fields
      </div>
    </div>
    <button type="submit" class="btn">
      Create Widget
      <div class="create-loading"><span *loading="submitting"></span></div>
    </button>
  </div>
</form>
