<ng-container *loading="showLoadingDashboards">
  <div *ngFor="let dashboard of dashboards" class="dashboard-item">
    <div class="dashboard-name">{{ dashboard.name }}</div>
    <button class="dashboard-action" (click)="renameDashboard(dashboard)" type="button">
      <fa-icon [icon]="faEdit" title="Rename Dashboard"></fa-icon>
    </button>
    <button class="dashboard-action" (click)="deleteDashboard(dashboard)" type="button">
      <fa-icon [icon]="faTrash" title="Delete Dashboard"></fa-icon>
    </button>
  </div>
</ng-container>
<div class="dashboard-item add form-input" *loading="showLoadingAdd">
  <input type="text" class="input" #dashboardAddInput />
  <button (click)="addDashboard(dashboardAddInput)" type="button">Add</button>
</div>
