@import 'styles/colors.scss';

.dashboard-item {
  padding: 10px;
  background-color: $color-primary-lighter;
  margin-bottom: 10px;
  display: flex;

  .dashboard-name {
    flex: 1 1 auto;
  }
  .dashboard-action {
    font-size: 12px;
    padding: 5px 8px;
    margin-left: 5px;
  }
  button {
    background-color: $color-primary-dark;
    color: white;
    appearance: none;
    border: 0;

    &:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }
  }

  &.add {
    margin-bottom: 0;
    display: flex;
    padding: 0;
    background-color: transparent;
    input {
      padding: 10px;
      max-width: 100%;
      font-size: 16px;
      flex: 1 1 auto;
    }
    button {
      padding: 10px 20px;
      margin-left: 10px;
    }
  }
}
