<div *loading="!cameras.length">
  <form-input title="Type of Map">
    <div class="select">
      <select [(ngModel)]="formData.type" (ngModelChange)="initMap()">
        <option value="street">Street</option>
        <option value="custom">Custom</option>
      </select>
    </div>
  </form-input>

  <div *ngIf="formData.type === 'custom'">
    <form-input title="Map" subtitle="(Add width and height)">
      <div class="map-input-container" *ngIf="formData.map">
        <input class="input map-input-url" [(ngModel)]="formData.map.url" placeholder="URL" />
        <input class="input map-input-width" type="number" [(ngModel)]="formData.map.width" placeholder="Width" />
        <input class="input map-input-height" type="number" [(ngModel)]="formData.map.height" placeholder="Height" />
      </div>
    </form-input>
  </div>

  <div class="actions row">
    <div class="select col-xs">
      <select class="input" #cameraElem>
        <option *ngFor="let camera of cameras" [value]="camera.CameraID">{{ camera.Name }}</option>
      </select>
    </div>

    <div class="col-xs">
      <button type="button" class="btn" (click)="addMarker(cameraElem.value)">Add</button>
    </div>
  </div>

  <ng-container *ngIf="options">
    <div style="width: 100%; height: 300px;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
      <ng-container *ngFor="let layer of markerLayers" [leafletLayer]="layer"></ng-container>
    </div>
  </ng-container>
  <small>Double click on marker to delete</small>
</div>
