.actions {
  margin: 5px 0;
  // display: flex;
  .select {
    margin-right: 5px;
  }
}

:host::ng-deep .map-input-container {
  display: flex;
  .map-input-width,
  .map-input-height {
    width: 60px;
  }
}
