<div class="user-list" [style.height]="containerHeight + 'px'" *loading="loading">
  <ul *ngIf="users">
    <li *ngFor="let user of users" class="row middle-xs" [style.border-right-color]="user.HexColour">
      <div class="col-xs-2" *ngIf="shouldShowPicture">
        <img [src]="getImage(user)" onerror="this.src='assets/person.png'" class="user-image" />
      </div>
      <div class="col-xs user-name-info">
        <a [routerLink]="['.']" [queryParams]="{ action: 'visitor', visitor: user.SubjectId }" class="hover-underline"> {{ user.FirstName }} {{ user.LastName }} </a>
      </div>
      <div class="col-xs-4 visitors-info">
        <div class="time-info">
          {{ user.CaptureTime | date: 'shortDate' }}<br />
          {{ user.CaptureTime | date: 'shortTime' }}
        </div>
        <div class="alert-info">{{ user.WatchlistName }}</div>
      </div>
    </li>
  </ul>
</div>
