@import 'styles/colors.scss';

.user-list {
  overflow-y: auto;

  ul {
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      text-align: left;
      margin-bottom: 20px;
      background-color: $color-widget-secondary;
      padding: 10px;

      border-right: 8px solid transparent;

      &.alert-high {
        border-right: 8px solid red;
      }
      &.alert-medium {
        border-right: 8px solid yellow;
      }
      &.alert-low {
        border-right: 8px solid grey;
      }

      .user-name-info {
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
      }

      .user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .visitors-info {
        font-size: 12px;
        text-align: right;

        .time-info {
          margin-bottom: 5px;
        }

        .alert-info {
          text-transform: uppercase;
        }
      }
    }
  }
}
