.widget-container {
  &:hover .widget-actions {
    display: block;
  }
  .widget-actions {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    & > button {
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      padding: 0;
      margin-left: 5px;
      border-radius: 50%;
      border: 0;
    }

    .widget-action-edit {
      background-color: #ccc;
    }
    .widget-action-delete {
      background-color: #e72d57;
    }
  }

  &.deleting {
    opacity: 0.1;
    transition: opacity 2s linear;
  }
}
