<div class="widget-container" [class.deleting]="deleting">
  <div class="widget-title-container">
    <div class="widget-actions" *ngIf="isActionsEnabled">
      <button class="widget-action-edit" title="Edit Widget" (click)="editWidget()"></button>
      <button class="widget-action-delete" title="Delete Widget" (click)="deleteWidget()"></button>
    </div>
    <h1 class="widget-title"><ng-content select="[title]"></ng-content></h1>
  </div>
  <div class="content-container">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
