<form class="login-container" [formGroup]="loginForm" (ngSubmit)="login()">
  <img src="assets/logo.png" class="logo" onerror="this.style.display = 'none'" />

  <div class="login-elements-container">
    <div class="login-inputs">
      <input type="text" formControlName="username" placeholder="Username" required />
      <input type="password" formControlName="password" placeholder="Password" required />
    </div>

    <div class="login-invalid" *ngIf="!isLoginValid">
      Invalid username or password. Please try again.
    </div>

    <div class="login-action">
      <div *loading="loginLoading">
        <button [disabled]="!loginForm.valid" type="submit" class="btn">Login</button>
      </div>
    </div>

    <div (click)="openSettings()" class="settings-link">
      Advanced Settings
    </div>
  </div>
</form>
