@import 'styles/colors.scss';

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .logo {
    max-width: 150px;
    max-height: 100px;
  }

  .login-elements-container {
    padding: 20px;
    background-color: white;
  }

  .login-inputs {
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }
  }

  .settings-link {
    font-size: 12px;
    color: black;
    margin-top: 5px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .login-invalid {
    font-size: 12px;
    color: black;
    margin-bottom: 20px;
  }
}
