/* You can add global styles to this file, and also import other style files */
@import './styles/form.scss';
@import './styles/colors.scss';
@import './styles/widget.scss';
@import './styles/alignment.scss';

/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('assets/oswald-v26-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), url('assets/oswald-v26-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('assets/oswald-v26-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('assets/oswald-v26-latin-300.woff') format('woff'), /* Modern Browsers */ url('assets/oswald-v26-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('assets/oswald-v26-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}

body,
html {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: $color-page-background;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.wrap-container {
  box-sizing: border-box;
  width: 100%;
}

.hover-pointer:hover {
  cursor: pointer;
}
.hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button.btn {
  background-color: $color-primary-dark;
  border: 0;
  font-size: 14px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-lighter;
  }
}
