<div class="dialog-container">
  <div *loading="loading"></div>
  <div *ngIf="visitor">
    <h1 class="visitor-title">{{ visitor.FirstName }} {{ visitor.LastName }}</h1>

    <div class="row">
      <div class="col-xs-4">
        <img [src]="getImage(visitor)" class="visitor-image" onerror="this.src='assets/person.png'" />
      </div>
    </div>
  </div>
</div>
